/* app css stylesheet */


.ngGrid {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px
}

.ngRow{
  position: relative;
}
.ngCell{
  position: absolute;
}

.ngHeaderScroller{
  position: relative;
}
.ngHeaderCell{
  position: absolute;
}
.ngHeaderSortColumn{
  position: absolute;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px
}